/* GENERAL */
body {
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    color: #00e5ff;
}

/* NAVBAR */
header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #0d0d0d;
    padding: 15px 0;
    z-index: 10;
    border-bottom: 1px solid #00e5ff;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #00e5ff;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
}
.nav-links a:hover {
    color: #00e5ff;
}

/* SECTIONS */
.section {
    width: 70%;
    margin: 120px auto;
    padding: 40px;
    background: #111;
    border-left: 3px solid #00e5ff;
}

/* HOME SECTION */
.home-section {
    text-align: center;
    padding-top: 120px;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #00e5ff;
    margin-bottom: 20px;
}

.intro-text {
    width: 60%;
    margin: auto;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: 2px solid #00e5ff;
    color: #00e5ff;
    text-decoration: none;
    margin-right: 10px;
}

.btn:hover {
    background: #00e5ff;
    color: black;
}

.secondary {
    border-color: white;
    color: white;
}

.secondary:hover {
    background: white;
    color: black;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.skill-box {
    padding: 20px;
    border: 1px solid #00e5ff;
    background: #0f0f0f;
}

/* PROJECTS */
.project-box {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #00e5ff;
    background: #0f0f0f;
}
